
.vs/api.conevento/v16/.suo
.vs/api.conevento/DesignTimeBuild/.dtbcache.v2
.vs/api.conevento/config/applicationhost.config
.dockerignore
.vs/api.conevento/config/applicationhost.config
.vs/api.conevento/v16/.suo
api.conevento/bin/Debug/netcoreapp3.1/
api.conevento/Imagenes/assets/Home/imagenes-productos/
