
.vs/api.conevento/v16/.suo
.vs/api.conevento/DesignTimeBuild/.dtbcache.v2
.vs/api.conevento/config/applicationhost.config
.dockerignore
.vs/api.conevento/config/applicationhost.config
.vs/api.conevento/v16/.suo
api.conevento/bin/Debug/netcoreapp3.1/api.conevento.dll
api.conevento/bin/Debug/netcoreapp3.1/api.conevento.pdb
api.conevento/bin/Debug/netcoreapp3.1/dal.conevento.dll
api.conevento/bin/Debug/netcoreapp3.1/dal.conevento.pdb
api.conevento/bin/Release/netcoreapp3.1/api.conevento.dll
api.conevento/bin/Release/netcoreapp3.1/api.conevento.pdb
api.conevento/bin/Release/netcoreapp3.1/dal.conevento.dll
api.conevento/bin/Release/netcoreapp3.1/dal.conevento.pdb
api.conevento/obj/Debug/netcoreapp3.1/api.conevento.csproj.AssemblyReference.cache
api.conevento/obj/Debug/netcoreapp3.1/api.conevento.dll
api.conevento/obj/Debug/netcoreapp3.1/api.conevento.pdb
api.conevento/obj/Release/netcoreapp3.1/api.conevento.dll
api.conevento/obj/Release/netcoreapp3.1/api.conevento.pdb
api.conevento/obj/Release/netcoreapp3.1/PubTmp/Out/api.conevento.dll
api.conevento/obj/Release/netcoreapp3.1/PubTmp/Out/api.conevento.pdb
api.conevento/obj/Release/netcoreapp3.1/PubTmp/Out/dal.conevento.dll
api.conevento/obj/Release/netcoreapp3.1/PubTmp/Out/dal.conevento.pdb
api.conevento/Properties/PublishProfiles/FolderProfile.pubxml.user
biz.conevento/obj/Release/netstandard2.0/biz.conevento.csproj.AssemblyReference.cache
dal.conevento/bin/Debug/netstandard2.0/dal.conevento.dll
dal.conevento/bin/Debug/netstandard2.0/dal.conevento.pdb
dal.conevento/bin/Release/netstandard2.0/dal.conevento.dll
dal.conevento/bin/Release/netstandard2.0/dal.conevento.pdb
dal.conevento/obj/Debug/netstandard2.0/dal.conevento.dll
dal.conevento/obj/Debug/netstandard2.0/dal.conevento.pdb
dal.conevento/obj/Release/netstandard2.0/dal.conevento.csproj.AssemblyReference.cache
dal.conevento/obj/Release/netstandard2.0/dal.conevento.dll
dal.conevento/obj/Release/netstandard2.0/dal.conevento.pdb
api.conevento/obj/Debug/netcoreapp3.1/api.conevento.assets.cache
api.conevento/obj/Debug/netcoreapp3.1/api.conevento.csproj.AssemblyReference.cache
api.conevento/obj/Debug/netcoreapp3.1/api.conevento.GeneratedMSBuildEditorConfig.editorconfig
biz.conevento/obj/Debug/netstandard2.0/biz.conevento.assets.cache
biz.conevento/obj/Debug/netstandard2.0/biz.conevento.csproj.AssemblyReference.cache
biz.conevento/obj/Debug/netstandard2.0/biz.conevento.GeneratedMSBuildEditorConfig.editorconfig
dal.conevento/obj/Debug/netstandard2.0/dal.conevento.assets.cache
dal.conevento/obj/Debug/netstandard2.0/dal.conevento.csproj.AssemblyReference.cache
dal.conevento/obj/Debug/netstandard2.0/dal.conevento.GeneratedMSBuildEditorConfig.editorconfig
.vs/api.conevento/config/applicationhost.config
api.conevento/bin/Release/netcoreapp3.1/api.conevento.deps.json
api.conevento/bin/Release/netcoreapp3.1/api.conevento.dll
api.conevento/bin/Release/netcoreapp3.1/api.conevento.exe
api.conevento/bin/Release/netcoreapp3.1/api.conevento.pdb
api.conevento/bin/Release/netcoreapp3.1/api.conevento.runtimeconfig.dev.json
api.conevento/bin/Release/netcoreapp3.1/api.conevento.runtimeconfig.json
api.conevento/bin/Release/netcoreapp3.1/biz.conevento.dll
api.conevento/bin/Release/netcoreapp3.1/biz.conevento.pdb
api.conevento/bin/Release/netcoreapp3.1/dal.conevento.dll
api.conevento/bin/Release/netcoreapp3.1/dal.conevento.pdb
api.conevento/obj/api.conevento.csproj.nuget.dgspec.json
api.conevento/obj/api.conevento.csproj.nuget.g.props
api.conevento/obj/Debug/netcoreapp3.1/api.conevento.assets.cache
api.conevento/obj/Debug/netcoreapp3.1/api.conevento.csproj.AssemblyReference.cache
api.conevento/obj/project.assets.json
api.conevento/obj/project.nuget.cache
api.conevento/obj/Release/netcoreapp3.1/api.conevento.assets.cache
api.conevento/obj/Release/netcoreapp3.1/api.conevento.csproj.AssemblyReference.cache
api.conevento/obj/Release/netcoreapp3.1/api.conevento.csproj.CoreCompileInputs.cache
api.conevento/obj/Release/netcoreapp3.1/api.conevento.csproj.FileListAbsolute.txt
api.conevento/obj/Release/netcoreapp3.1/api.conevento.dll
api.conevento/obj/Release/netcoreapp3.1/api.conevento.GeneratedMSBuildEditorConfig.editorconfig
api.conevento/obj/Release/netcoreapp3.1/api.conevento.genruntimeconfig.cache
api.conevento/obj/Release/netcoreapp3.1/api.conevento.pdb
api.conevento/obj/Release/netcoreapp3.1/apphost.exe
biz.conevento/bin/Release/netstandard2.0/biz.conevento.deps.json
biz.conevento/bin/Release/netstandard2.0/biz.conevento.dll
biz.conevento/bin/Release/netstandard2.0/biz.conevento.pdb
biz.conevento/obj/biz.conevento.csproj.nuget.dgspec.json
biz.conevento/obj/biz.conevento.csproj.nuget.g.props
biz.conevento/obj/biz.conevento.csproj.nuget.g.targets
biz.conevento/obj/Debug/netstandard2.0/biz.conevento.assets.cache
biz.conevento/obj/Debug/netstandard2.0/biz.conevento.csproj.AssemblyReference.cache
biz.conevento/obj/project.assets.json
biz.conevento/obj/project.nuget.cache
biz.conevento/obj/Release/netstandard2.0/biz.conevento.assets.cache
biz.conevento/obj/Release/netstandard2.0/biz.conevento.csproj.AssemblyReference.cache
biz.conevento/obj/Release/netstandard2.0/biz.conevento.csproj.CoreCompileInputs.cache
biz.conevento/obj/Release/netstandard2.0/biz.conevento.csproj.FileListAbsolute.txt
biz.conevento/obj/Release/netstandard2.0/biz.conevento.dll
biz.conevento/obj/Release/netstandard2.0/biz.conevento.GeneratedMSBuildEditorConfig.editorconfig
biz.conevento/obj/Release/netstandard2.0/biz.conevento.pdb
dal.conevento/bin/Release/netstandard2.0/biz.conevento.dll
dal.conevento/bin/Release/netstandard2.0/biz.conevento.pdb
dal.conevento/bin/Release/netstandard2.0/dal.conevento.deps.json
dal.conevento/bin/Release/netstandard2.0/dal.conevento.dll
dal.conevento/bin/Release/netstandard2.0/dal.conevento.pdb
dal.conevento/obj/dal.conevento.csproj.nuget.dgspec.json
dal.conevento/obj/dal.conevento.csproj.nuget.g.props
dal.conevento/obj/dal.conevento.csproj.nuget.g.targets
dal.conevento/obj/Debug/netstandard2.0/dal.conevento.assets.cache
dal.conevento/obj/Debug/netstandard2.0/dal.conevento.csproj.AssemblyReference.cache
dal.conevento/obj/project.assets.json
dal.conevento/obj/project.nuget.cache
dal.conevento/obj/Release/netstandard2.0/dal.conevento.assets.cache
dal.conevento/obj/Release/netstandard2.0/dal.conevento.csproj.AssemblyReference.cache
dal.conevento/obj/Release/netstandard2.0/dal.conevento.csproj.CoreCompileInputs.cache
dal.conevento/obj/Release/netstandard2.0/dal.conevento.csproj.FileListAbsolute.txt
dal.conevento/obj/Release/netstandard2.0/dal.conevento.dll
dal.conevento/obj/Release/netstandard2.0/dal.conevento.GeneratedMSBuildEditorConfig.editorconfig
dal.conevento/obj/Release/netstandard2.0/dal.conevento.pdb
