
.vs/api.conevento/v16/.suo
.vs/api.conevento/DesignTimeBuild/.dtbcache.v2
.vs/api.conevento/config/applicationhost.config
.dockerignore
.vs/api.conevento/config/applicationhost.config
.vs/api.conevento/v16/.suo
api.conevento/bin/Debug/netcoreapp3.1/api.conevento.dll
api.conevento/bin/Debug/netcoreapp3.1/api.conevento.pdb
api.conevento/bin/Debug/netcoreapp3.1/dal.conevento.dll
api.conevento/bin/Debug/netcoreapp3.1/dal.conevento.pdb
api.conevento/bin/Release/netcoreapp3.1/api.conevento.dll
api.conevento/bin/Release/netcoreapp3.1/api.conevento.pdb
api.conevento/bin/Release/netcoreapp3.1/dal.conevento.dll
api.conevento/bin/Release/netcoreapp3.1/dal.conevento.pdb
api.conevento/obj/Debug/netcoreapp3.1/api.conevento.csproj.AssemblyReference.cache
api.conevento/obj/Debug/netcoreapp3.1/api.conevento.dll
api.conevento/obj/Debug/netcoreapp3.1/api.conevento.pdb
api.conevento/obj/Release/netcoreapp3.1/api.conevento.dll
api.conevento/obj/Release/netcoreapp3.1/api.conevento.pdb
api.conevento/obj/Release/netcoreapp3.1/PubTmp/Out/api.conevento.dll
api.conevento/obj/Release/netcoreapp3.1/PubTmp/Out/api.conevento.pdb
api.conevento/obj/Release/netcoreapp3.1/PubTmp/Out/dal.conevento.dll
api.conevento/obj/Release/netcoreapp3.1/PubTmp/Out/dal.conevento.pdb
api.conevento/Properties/PublishProfiles/FolderProfile.pubxml.user
biz.conevento/obj/Release/netstandard2.0/biz.conevento.csproj.AssemblyReference.cache
dal.conevento/bin/Debug/netstandard2.0/dal.conevento.dll
dal.conevento/bin/Debug/netstandard2.0/dal.conevento.pdb
dal.conevento/bin/Release/netstandard2.0/dal.conevento.dll
dal.conevento/bin/Release/netstandard2.0/dal.conevento.pdb
dal.conevento/obj/Debug/netstandard2.0/dal.conevento.dll
dal.conevento/obj/Debug/netstandard2.0/dal.conevento.pdb
dal.conevento/obj/Release/netstandard2.0/dal.conevento.csproj.AssemblyReference.cache
dal.conevento/obj/Release/netstandard2.0/dal.conevento.dll
dal.conevento/obj/Release/netstandard2.0/dal.conevento.pdb
